[include]
	path = ./.gitconfig_local

[core]
	excludesfile = ./.gitignore_global
	editor = emacs
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[merge]
	conflictstyle = diff3
	ff = false
[pull]
	ff = only
