[core]
  editor = code --wait
  ignorecase = false
  quotepath = false
  pager = "less -R -F -X"
{{- if eq .chezmoi.os "windows" }}
  sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- else }}
  sshCommand = "ssh"
{{- end }}

[user]
  signingkey = {{ .user.git.signingkey }}

[gpg]
  format = ssh


[commit]
  gpgsign = true
  verbose = true

[init]
  defaultBranch = master

[diff]
  tool = "code --wait --diff $LOCAL $REMOTE"
  colorMoved = true
  algorithm = histogram
[grep]
  patternType = perl
[rebase]
  autosquash = true
  autostash = true
[merge]
  conflictstyle = zdiff3
  ff = false
[push]
  autoSetupRemote = true
[pull]
  ff = only
  rebase = merges
[user]
  name = {{ .user.name }}
  email = {{ .user.email }}
[fetch]
  prune = true
[rerere]
  enabled = true
[branch]
  sort = committerdate

[feature]
  experimental = true

[include]
  path = ~/.gitconfig_local
  path = ~/.gitconfig_gpg_ssh

[url "git://"]
    insteadOf = https://
[url "git@github.com:"]
    insteadOf = https://github.com/
