[core]
  editor = code --wait
  ignorecase = false
  quotepath = false
  pager = "less -R -F -X"
{{- if eq .chezmoi.os "windows" }}
  sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- else }}
  sshCommand = "ssh"
{{- end }}

[user]
  signingkey = {{ .user.git.signingkey }}

[gpg]
  format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}
  {{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  program = "/mnt/c/Users/{{ .user.name }}/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
  {{- end }}
{{- else if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "windows" }}
  program = "C:/Users/{{ .user.name }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}

[commit]
  gpgsign = true

[init]
  defaultBranch = master

[diff]
  tool = "code --wait --diff $LOCAL $REMOTE"
[rebase]
  autosquash = true
  autostash = true
[merge]
  conflictstyle = diff3
  ff = false
[push]
  autoSetupRemote = true
[pull]
  ff = only
  rebase = merges
[user]
  name = {{ .user.name }}
  email = {{ .user.email }}
[fetch]
  prune = true
[rerere]
  enabled = true

[include]
  path = ~/.gitconfig_local

[url "git://"]
    insteadOf = https://
[url "git@github.com:"]
    insteadOf = https://github.com/
