{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}

sudo apt-get update
sudo apt-get install -y wget curl emacs git build-essential fzf bat ripgrep jq zsh unzip

mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}

xcode-select --install || :

if brew --version; then
  echo "brew already installed"
else
  # https://brew.sh/index_ja.html
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  if [ -f /opt/homebrew/bin/brew ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
  elif [ -f /usr/local/bin/brew ]; then
    eval "$(/usr/local/bin/brew shellenv)"
  fi

  # https://github.com/rcmdnk/homebrew-file
  brew install rcmdnk/file/brew-file || :
  brew file install

  $(brew --prefix)/opt/fzf/install

  ln -s $(brew --prefix)/opt/curl/bin/curl ~/.local/bin/curl
fi

{{ end -}}

if asdf --version; then
  echo "asdf already installed"
else
  # https://asdf-vm.com/
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf
  cd ~/.asdf
  git checkout "$(git describe --abbrev=0 --tags)"
  source $HOME/.asdf/asdf.sh
fi

if direnv --version; then
  echo "direnv already installed"
else
  asdf plugin add direnv || :
  asdf direnv setup --shell zsh --version latest
  asdf global direnv latest
fi

if bun --version; then
  echo "bun already installed"
else
  asdf plugin add bun || :
  local BUN_VERSION=`asdf latest bun`
  asdf install bun $BUN_VERSION
  asdf global run $BUN_VERSION
fi

if node --version; then
  echo "node already installed"
else
  asdf plugin add nodejs || :
  local NODE_VERSION=`asdf latest nodejs`
  asdf install nodejs $NODE_VERSION
  asdf global run $NODE_VERSION
fi

{{ end }}
