{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

xcode-select --install || :

if brew --version; then
  echo "brew already installed"
else
  # https://brew.sh/index_ja.html
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  if [ -f /opt/homebrew/bin/brew ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
  elif [ -f /usr/local/bin/brew ]; then
    eval "$(/usr/local/bin/brew shellenv)"
  fi
fi

brew bundle --file=- <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

if command -v starship >/dev/null 2>&1; then
  echo "starship is already installed"
else
  echo "install starship"
  curl -sS https://starship.rs/install.sh | sh -s -- --yes --bin-dir ~/.local/bin
fi

{{ end -}}
