{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}

sudo apt-get update
sudo apt-get install -y wget curl emacs git build-essential fzf bat ripgrep jq

mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}

xcode-select --install || :

if brew --version; then
  echo "brew already installed"
else
  # https://brew.sh/index_ja.html
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$($(brew --prefix)/bin/brew shellenv)"

  # https://github.com/rcmdnk/homebrew-file
  brew install rcmdnk/file/brew-file || :
  brew file install

  $(brew --prefix)/opt/fzf/install

  ln -s $(brew --prefix)/opt/curl/bin/curl ~/.local/bin/curl
fi

{{ end -}}

if asdf --version; then
  echo "asdf already installed"
else
  # https://asdf-vm.com/
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf
  cd ~/.asdf
  git checkout "$(git describe --abbrev=0 --tags)"
  source $HOME/.asdf/asdf.sh
fi

if direnv --version; then
  echo "direnv already installed"
else
  asdf plugin-add direnv || :
  asdf direnv setup --shell zsh --version latest
fi

{{ end }}
