{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

if mise --version; then
  echo "mise already installed"
else
  # https://mise.jdx.dev/
  curl https://mise.run | MISE_INSTALL_PATH=~/.local/bin/mise sh
fi

{{ range .packages.mise }}
  CMD={{ . | quote  }}
  CMD_VERSION=`mise latest $CMD 2> /dev/null`
  mise install $CMD $CMD_VERSION
  mise use --global ${CMD}@${CMD_VERSION}
{{ end }}

{{ end }}
