{{- if stat "/proc/version" }}
{{- $procVersion := include "/proc/version" | lower }}
{{- if contains "microsoft" $procVersion }}
# WSL environment
{{- end }}
{{- end }}

[data]
only_private = {{ has .chezmoi.hostname (list "CITRINE" "BIXBITE") }}

[onepassword]
prompt = false