{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# packages.yaml hash: {{ .packages.linux.apt | toJson | sha256sum }}

set -euo pipefail

sudo apt-get update
sudo apt-get install -y {{ range .packages.linux.apt }} {{.}}{{ end }}

# install mise via official installer
if command -v mise >/dev/null 2>&1; then
  echo "mise is already installed"
else
  echo "install mise"
  curl https://mise.run | sh
fi

# symlink batcat to bat
if command -v bat >/dev/null 2>&1; then
  echo "bat is already installed"
else
  echo "create symlink for bat"
  ln -s "$(command -v batcat)" ~/.local/bin/bat
fi

if command -v fd >/dev/null 2>&1; then
  echo "fd-find is already installed"
else
  echo "create symlink for fd"
  ln -s "$(command -v fdfind)" ~/.local/bin/fd
fi

if command -v starship >/dev/null 2>&1; then
  echo "starship is already installed"
else
  echo "install starship"
  curl -sS https://starship.rs/install.sh | sh -s -- --yes --bin-dir ~/.local/bin
fi

{{ end -}}
