{{- $commonHooks := includeTemplate "dot_claude/hooks/common.json.tmpl" . | fromJson -}}
{{- $commonHooks := includeTemplate "dot_claude/permissions.json" . | fromJson -}}
{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "permissions": {{ toJson $permissions }},
  "hooks": {{ toJson $commonHooks }},
  "statusLine": {
    "type": "command",
    "command": "cd ~/.claude && bun statusline.ts"
  },
  "model": "opusplan"
}